
nav {
	background: transparent;
	border: transparent !important;
	height: 16vh;
	padding: 5vh 0;
	font-weight: 800;
	ul {
		padding: 0 24% !important;
		li a {
			font-size: 160%;
			padding: 0 30% !important;
		}
	}
}

header {
	position: relative;
	top: -16vh;
	img {
		width: 100%;
	}
	z-index: -1;
	.life {
		position: relative;
		top: -64vh;
		p {
			color: white;
			font-size: 160%;
			font-weight: bold;
		}
		p:first-child {
			font-size: 340%;
			font-weight: 800;
			font-style: bolder;
			letter-spacing: 10px;
		}
	}
}

.two {
	background: $fondo-section;
	position: relative;
	top: -40vh;
}

.section-two {
	padding: 7% 9% 0 9%;
	.img-hand {
		height: 59.5vh;
		background: url('../../dist/img/hand.png');
		background-size: cover;
		backgroun-position: top;
		background-repeat: no-repeat;
	}
	.cont-info {
		width: 120%;
	}
}

.section-three {
	position: relative;
	top: -40vh;
	padding-top: 7%;
	img {
		width: 80%;
	}
	.cont-info {
		padding-top: 9%;
	}
}

.four {
	background: $fondo-section;
	position: relative;
	top: -43vh;
}

.section-four {
	padding: 9% 9% 7% 7%;
	.our-community {
		height: 35vh;
		padding-right: 3%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		span {
			font-size: 160%;
			font-weight: bold;
			margin-bottom: 6%;
		}
		p {
			letter-spacing: 3px;
			line-height: 100%;
		}
	}
	img {
		width: 100%;
	}
}

.section-five {
	position: relative;
	top: -43vh;
	height: 120vh;
	background: url('../../dist/img/bg2.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	form {
		span {
			color: white;
			font-size: 250%;
			font-weight: bold;
		}
		.input-field {
			margin-top: 4%;
		}
		.icon {
			background: $verde;
			color: white;
			font-weight: bold;
			padding: 1.5% 0;
		}
	}
}

.download {
	position: relative;
	top: -43vh;
	background: $fondo-section;
}

.section-download {
	padding: 7%;
	span {
		font-size: 190%;
		font-weight: bold;
	}
	p {
		text-transform: uppercase;
		font-size: 120%;
		font-weight: 400;
		line-height: 200%;
		margin-top: 1%;
	}
	.boton {
		padding: 1% 3%;
		.btn {
			padding: 3% 8%;
			font-size: 140%;
		}
	}
	.btn-apple {
		float: right;
	}
}

.section-footer {
	position: relative;
	top: -43vh;
	.cont-footer {
		padding: 3% 9%;
		font-size: 145%;
		font-weight: bold;
		p {
			margin: 4% 0;
			span {
				color: $verde;
			}
		}
	}
}

.footer {
	height: -50vh;
}