
nav {
	background: transparent;
	border: transparent !important;
	height: 16vh;
	padding: 5vh 0;
	font-weight: 800;
	ul {
		padding: 0 24% !important;
		li a {
			font-size: 160%;
			padding: 0 30% !important;
		}
	}
}

header {
	position: relative;
	top: -16vh;
	img {
		width: 100%;
	}
	z-index: -1;
	.life {
		position: relative;
		top: -64vh;
		p {
			color: white;
			font-size: 160%;
			font-weight: bold;
		}
		p:first-child {
			font-size: 340%;
			font-weight: 800;
			font-style: bolder;
			letter-spacing: 10px;
		}
		.btn {
			margin-top: 3%;
			padding: 1.5% 4%;
			height: 112%;
			font-weight: 800;
			font-style: bolder !important;
			font-size: 120%;
			border-radius: 6px;
		}
	}
}